@import url(./global.css);

p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

p br {
  margin-bottom: 10px;
}

#santa {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 150px;
  height: auto;
  z-index: 10;
  cursor: pointer;
}
